/* Reset básico para remover margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    color: #ddd;
    line-height: 1.6;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    text-align: center;
    padding: 20px;
    margin-top: 75px;
}

h1 {
    font-size: 2.5em;
    color: #fff;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 1.2em;
    color: #ddd;
}

/* Cabeçalho */
header {
    height: 75px;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
}

header h1 {
    text-shadow: 
        2px 2px 0px #333,
        -2px -2px 0px #333,
        2px -2px 0px #333,
        -2px 2px 0px #333;
}

/* parte principal da pagina */
#nome {
    width: 350px;
    display: inline-block;
}

#imagem {
    width: 300px;
    display: inline-block;
}

#about-me {
    margin: 50px 0 50px 0;
}

/* Seção de Projetos */
.projetos {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

/* Estilo para cada projeto */
.projeto {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.projeto h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.projeto p {
    color: #666;
}

.botao {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #555;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 50px;
    color: #ddd;
    padding: 20px;
}

footer p, footer a {
    font-size: 0.9em;
    margin: 5px;
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}
